.mt-2 {
  margin-top: .5rem!important;
}

.me-0 {
  margin-right: 0!important;
}

.me-10 {
  margin-right: 10.5rem !important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-2 {
  margin-bottom: .5rem!important;
}

.ms-10 {
  margin-left: 10.5rem !important;
}

